h1{	
	font-size: 30px;
	color: salmon;
}
h2{
	font-size: 16px;
	color: teal;
}
.big{
	font-size: 40px;
}
.uppercase{
	text-transform: uppercase;
}
.big.uppercase{
	color: navy;
}
h1 span{
	color: lightgray;
}
body{
	background-color: darkred;
}